@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background: #eef1f6;
    color: #101f46;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
